In [1]:
import pandas as pd
import numpy as np

In [35]:
tempoH = pd.date_range(start = '2018-1-1 00:00', end = '2024-10-1 00:00', freq = "H")

In [36]:
tempoH

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2024-09-30 15:00:00', '2024-09-30 16:00:00',
               '2024-09-30 17:00:00', '2024-09-30 18:00:00',
               '2024-09-30 19:00:00', '2024-09-30 20:00:00',
               '2024-09-30 21:00:00', '2024-09-30 22:00:00',
               '2024-09-30 23:00:00', '2024-10-01 00:00:00'],
              dtype='datetime64[ns]', length=59161, freq='H')

In [37]:
Contador = pd.DataFrame()
Contador['tempo'] = tempoH

In [38]:
lista = np.arange(0,len(Contador),1)
Contador['lista'] = lista
Contador.index = tempoH

In [80]:
Contador1 = Contador.asfreq('MS')
Contador1.loc['2018-7-1':'2019-1-1']

                tempo  lista
2018-07-01 2018-07-01   4344
2018-08-01 2018-08-01   5088
2018-09-01 2018-09-01   5832
2018-10-01 2018-10-01   6552
2018-11-01 2018-11-01   7296
2018-12-01 2018-12-01   8016
2019-01-01 2019-01-01   8760